.chosenMobileItem {
    display: inline-block;
    border-bottom: 3px solid #37d6b5;
    margin-bottom: 11px;
    font-weight: bold;
    cursor: pointer;
}

.chosenMobileItem:after {
    content: "";
    border: solid #37d6b5;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    margin: 0 10px;
    transition: transform 150ms linear;
    vertical-align: middle;
}

.mobileDropdownDivStyle {
    display: none;

    @media (max-width: 1200px) {
        display: block;
    }
}

.mobileDropdownDivStyle ul.invisible {

    @media (max-width: 1200px) {
        pointer-events: none;
        opacity: 0;
        max-height: 0;
        margin: 0;  
    }
}

.mobileDropdownDivStyle ul.visible {

    @media (max-width: 1200px) {
        position: absolute;
        font-size: 18px;
        height: 271px;
        width: 100%;
        margin: 0;
        display: flex;
        padding-inline-start: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: #f8f8f8;
        backdrop-filter: blur(47px);
        transition: opacity 500ms linear; 
    }
}

.mobileDropdownDivStyle li {
    list-style-type: none;
    cursor: pointer;
}

.mobileDropdown {
    overflow-y: hidden;
}