.session ul.desktop {
    display: none;
    flex-direction: row;

    @media (min-width: 768px) {
        display: flex;
    }
}

.session div.mobileDropdown {
    text-align: center;
    font-size: 22px;

    @media (min-width: 768px) {
        display: none;
    }
}

.session  ul.mobileDropdown {
    height: 120px;
    z-index: 1;
    width: 100vw;
    font-size: 22px;

    @media (min-width: 768px) {
        left: 0;
        width: 100%;
    }
}

.session ul {
    position: relative;
    justify-content: space-around;
    @media (max-width: 560px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        width: 100vw;
        left: -24px;
    }
    li {
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    
}

.session ul::after {
    content: " ";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 1px;
    z-index: -1;
    background-color: #E0E0E0; /* Precisa usar variavel externa */
}

.session::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent #FFE53C transparent;
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

    @media (min-width: 1200px) {
        border-width: 0 0 230px 230px;
    }
}
