ul.desktop {
    grid-column: 3/6;
    grid-row: 1/2;
    display: flex;
    align-items: center;

    @media (max-width: 1200px) {
        display: none;
    }
}

img {
    grid-column: 6/12;
    grid-row: 1/2;
}

.description {
    grid-column:  6/12;
    grid-row: 2/3;
}